#mainVisual { position: relative; overflow: hidden; min-height: 400px; }

#mainVisual:before { display: block; padding-top: 56.25%; content: ""; background-color: #f00; }

#mainVisual video { width: 100%; height: 100%; position: absolute; top: 0; left: 0; object-fit: cover; vertical-align: top; }

#info { display: flex; }

#info .contentsBox { flex-basis: 50%; position: relative; }

#info .contentsBox:before { display: block; padding-top: 100%; content: ""; }

#info .contentsBox .inner { position: absolute; top: 0; left: 0; padding: 15px; }

#info .contentsBox .title { margin-bottom: 30px; font-size: 16px; font-weight: 700; line-height: 1.25; word-break: keep-all; }

#info .contentsBox .title br { content: ""; }

#info .contentsBox p { margin-bottom: 20px; font-size: 10px; display: -webkit-box; height: 3em; overflow: hidden; line-height: 1.5; -webkit-line-clamp: 2; /* autoprefixer: off */ -webkit-box-orient: vertical; word-break: break-all; }

#info .system { color: #fff; background-position: right 0 bottom 0; background-color: #e77612; background-repeat: no-repeat; background-size: 120%; background-image: url("../images/main/business_figure_01.png"); }

#info .b2c { color: #111; background-position: right 0 bottom 0; background-repeat: no-repeat; background-size: 120%; background-image: url("../images/main/business_figure_02.png"); }

#business { display: flex; justify-content: center; align-items: center; height: 100vh; color: #fff; background-size: cover; background-repeat: no-repeat; background-image: url("../images/main/bg_business.jpg"); background-attachment: fixed; }

#business .txtBox { text-align: center; }

#business .txtBox p { margin-top: 30px; font-size: 18px; line-height: 1.5; }

#business .txtBox p span { display: inline-block; }

.videoContents { position: relative; }

.videoContents .video { display: block; padding-top: 56.25%; content: ""; }

.videoContents video { width: 100%; width: 100%; height: 100%; position: absolute; top: 0; left: 0; vertical-align: top; object-fit: cover; }

.videoContents .txtBox { display: flex; justify-content: center; flex-direction: column; width: 50%; height: 100%; position: absolute; top: 0; left: 0; padding: 0 20px; color: #fff; box-sizing: border-box; word-break: keep-all; }

.videoContents .txtBox .title { margin-bottom: 20px; font-size: 22px; }

.videoContents .txtBox .sub { margin-bottom: 30px; font-size: 16px; }

.videoContents .txtBox .desc { margin-bottom: 30px; line-height: 1.5; display: none; }

.videoContents .txtBox a { font-size: 12px; }

.videoContents#highpass .txtBox { left: 50%; }

#product { display: flex; flex-direction: column; overflow: hidden; }

#product .bg { height: 50vh; background-size: cover; background-image: url("../images/main/bg_product.jpg"); }

#product .contentsBox { overflow: hidden; padding: 30px 0 0 20px; box-sizing: border-box; }

#product .contentsBox .titleBox { margin-bottom: 100px; }

#product .contentsBox .titleBox .title { margin-top: 50px; font-size: 20px; font-weight: 700; line-height: 1.25; }

#product .contentsBox .rolling { overflow: hidden; }

#product .contentsBox .rolling li { width: 200px; text-align: center; }

#product .contentsBox .rolling li a img { width: 100%; }

#product .contentsBox .rolling li a p { margin-top: 20px; }

#product .contentsBox .navigation { display: flex; align-items: center; margin-top: 50px; }

#product .contentsBox .navigation a { margin-left: 20px; text-transform: uppercase; font-size: 14px; }

#product .contentsBox .navigation button { display: inline-flex; justify-content: center; align-items: center; width: 40px; height: 40px; margin-right: 10px; font-size: 24px; border: 1px solid #ccc; background: none; border-radius: 100%; }

#product .contentsBox .navigation button.prev:before { vertical-align: top; font-family: "Material Icons"; content: "chevron_left"; display: inline-block; margin-left: 0; }

#product .contentsBox .navigation button.next:before { vertical-align: top; font-family: "Material Icons"; content: "chevron_right"; display: inline-block; margin-left: 0; }

#make { display: flex; justify-content: center; align-items: center; flex-direction: column; overflow: hidden; text-align: center; padding-top: 50px; }

#make .title { margin-bottom: 20px; font-size: 20px; padding: 0 20px; word-break: keep-all; }

#make p { margin-bottom: 20px; color: #999; line-height: 1.5; font-size: 12px; padding: 0 20px; word-break: keep-all; }

#make p br { content: ""; }

#make img { width: 100vw; }

#news { display: flex; justify-content: center; flex-direction: column; padding: 50px 20px; min-height: 100vh; }

#news .title { margin-bottom: 30px; font-size: 20px; }

#news .menu { display: flex; justify-content: flex-end; margin-bottom: 50px; font-weight: 700; }

#news .menu li { margin-left: 30px; font-size: 14px; }

#news .contents { display: flex; flex-direction: column; justify-content: space-between; }

#news .contents li { flex-basis: 100%; border-bottom: 1px solid #ccc; padding: 20px 0; }

#news .contents li .dateBox { margin-bottom: 30px; }

#news .contents li .dateBox span { font-weight: 700; text-transform: uppercase; }

#news .contents li .dateBox .date { position: relative; margin-left: 10px; padding-left: 10px; font-weight: 400; color: #999; }

#news .contents li .dateBox .date:before { top: 50%; left: 0; transform: translateY(-50%); display: block; position: absolute; content: ""; display: block; width: 1px; height: 10px; background-color: #333; }

#news .contents li .txt { margin-bottom: 30px; font-size: 18px; font-weight: 500; display: -webkit-box; height: 3em; overflow: hidden; line-height: 1.5; -webkit-line-clamp: 2; /* autoprefixer: off */ -webkit-box-orient: vertical; word-break: break-all; }

#news .contents li .more { text-transform: uppercase; }
